@font-face
    font-family: 'Proxima Nova Rg'
    src: url('../fonts/ProximaNova-Regular.eot')
    src: local('../fonts/Proxima Nova Regular'), local('../fonts/ProximaNova-Regular'),url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Proxima Nova Lt'
    src: url('../fonts/ProximaNova-LightIt.eot')
    src: local("Proxima Nova Light Italic"), local("ProximaNova-LightIt"), url('../fonts/ProximaNova-LightIt.eot?#iefix') format("embedded-opentype"), url('../fonts/ProximaNova-LightIt.woff') format("woff"), url('../fonts/ProximaNova-LightIt.ttf') format("truetype")
    font-weight: 300
    font-style: italic

@font-face
    font-family: 'Proxima Nova Lt'
    src: url('../fonts/ProximaNova-Semibold.eot')
    src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url('../fonts/ProximaNova-Semibold.eot?#iefix') format("embedded-opentype"), url('../fonts/ProximaNova-Semibold.woff') format("woff"), url('../fonts/ProximaNova-Semibold.ttf') format("truetype")
    font-weight: 600
    font-style: normal

@font-face
    font-family: 'Proxima Nova Th'
    src: url('../fonts/ProximaNova-ThinIt.eot')
    src: local("Proxima Nova Thin Italic"), local("ProximaNova-ThinIt"), url('../fonts/ProximaNova-ThinIt.eot?#iefix') format("embedded-opentype"), url('../fonts/ProximaNova-ThinIt.woff') format("woff"), url('../fonts/ProximaNova-ThinIt.ttf') format("truetype")
    font-weight: 100
    font-style: italic

@font-face
    font-family: 'Proxima Nova Lt'
    src: url('../fonts/ProximaNova-SemiboldIt.eot')
    src: local("Proxima Nova Semibold Italic"), local("ProximaNova-SemiboldIt"), url('../fonts/ProximaNova-SemiboldIt.eot?#iefix') format("embedded-opentype"), url('../fonts/ProximaNova-SemiboldIt.woff') format("woff"), url('../fonts/ProximaNova-SemiboldIt.ttf') format("truetype")
    font-weight: 600
    font-style: italic

@font-face
    font-family: 'Proxima Nova Rg'
    src: url('../fonts/ProximaNova-RegularIt.eot')
    src: local("Proxima Nova Regular Italic"), local("ProximaNova-RegularIt"), url('../fonts/ProximaNova-RegularIt.eot?#iefix') format("embedded-opentype"), url('../fonts/ProximaNova-RegularIt.woff') format("woff"), url('../fonts/ProximaNova-RegularIt.ttf') format("truetype")
    font-weight: normal
    font-style: italic

@font-face
    font-family: 'Proxima Nova Rg'
    src: url('../fonts/ProximaNova-Bold.eot')
    src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url('../fonts/ProximaNova-Bold.eot?#iefix') format("embedded-opentype"), url('../fonts/ProximaNova-Bold.woff') format("woff"), url('../fonts/ProximaNova-Bold.ttf') format("truetype")
    font-weight: bold
    font-style: normal

@font-face
    font-family: 'Proxima Nova Th'
    src: url('../fonts/ProximaNovaT-Thin.eot')
    src: local("Proxima Nova Thin"), local("ProximaNovaT-Thin"), url('../fonts/ProximaNovaT-Thin.eot?#iefix') format("embedded-opentype"), url('../fonts/ProximaNovaT-Thin.woff') format("woff"), url('../fonts/ProximaNovaT-Thin.ttf') format("truetype")
    font-weight: 100
    font-style: normal

@font-face
    font-family: 'Proxima Nova Rg'
    src: url('../fonts/ProximaNova-BoldIt.eot')
    src: local("Proxima Nova Bold Italic"), local("ProximaNova-BoldIt"), url('../fonts/ProximaNova-BoldIt.eot?#iefix') format("embedded-opentype"), url('../fonts/ProximaNova-BoldIt.woff') format("woff"), url('../fonts/ProximaNova-BoldIt.ttf') format("truetype")
    font-weight: bold
    font-style: italic

@font-face
    font-family: 'Proxima Nova Lt'
    src: url('../fonts/ProximaNova-Light.eot')
    src: local("Proxima Nova Light"), local("ProximaNova-Light"), url('../fonts/ProximaNova-Light.eot?#iefix') format("embedded-opentype"), url('../fonts/ProximaNova-Light.woff') format("woff"), url('../fonts/ProximaNova-Light.ttf') format("truetype")
    font-weight: 300
    font-style: normal

// @font-face
//     font-family: 'Open Sans'
//     src: url('../fonts/opensans.eot')
//     src: url('../fonts/opensans.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans.woff') format('woff'), url('../fonts/opensans.ttf') format('truetype')
//     font-weight: 400
//     font-style: normal

// @font-face
//     font-family: 'Open Sans'
//     src: url('../fonts/opensansbold.eot')
//     src: url('../fonts/opensansbold.eot?#iefix') format('embedded-opentype'), url('../fonts/opensansbold.woff') format('woff'), url('../fonts/opensansbold.ttf') format('truetype')
//     font-weight: 700
//     font-style: normal

// @font-face
//     font-family: 'Open Sans Semibold'
//     src: url('../fonts/opensanssemibold.eot')
//     src: url('../fonts/opensanssemibold.eot?#iefix') format('embedded-opentype'), url('../fonts/opensanssemibold.woff') format('woff'), url('../fonts/opensanssemibold.ttf') format('truetype')
//     font-weight: 600
//     font-style: normal

// @font-face
//     font-family: 'Open Sans Semibold Italic'
//     src: url('../fonts/opensanssemibolditalic.eot')
//     src: url('../fonts/opensanssemibolditalic.eot?#iefix') format('embedded-opentype'), url('../fonts/opensanssemibolditalic.woff') format('woff'), url('../fonts/opensanssemibolditalic.ttf') format('truetype')
//     font-weight: 600
//     font-style: italic

// @font-face
//     font-family: 'Open Sans Light'
//     src: url('../fonts/opensanslight.eot')
//     src: url('../fonts/opensanslight.eot?#iefix') format('embedded-opentype'), url('../fonts/opensanslight.woff') format('woff'), url('../fonts/opensanslight.ttf') format('truetype')
//     font-weight: 300
//     font-style: normal

@font-face
    font-family: 'Font Awesome 5 Free'
    font-style: normal
    font-weight: 400
    src: url('../fonts/fontawesome/fa-regular-400.eot')
    src: url('../fonts/fontawesome/fa-regular-400.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome/fa-regular-400.woff2') format('woff2'), url('../fonts/fontawesome/fa-regular-400.woff') format('woff'), url('../fonts/fontawesome/fa-regular-400.ttf') format('truetype'), url('../fonts/fontawesome/fa-regular-400.svg#fontawesome') format('svg')

// @mixin bold
//     font-family: 'Open Sans', sans-serif
//     font-weight: 700
//     font-style: normal

// @mixin semibold
//     font-family: 'Open Sans Semibold', sans-serif
//     font-weight: 600
//     font-style: normal

// @mixin semibold-italic
//     font-family: 'Open Sans Semibold Italic', sans-serif
//     font-weight: 600
//     font-style: italic

// @mixin normal
//     font-family: 'Open Sans', sans-serif
//     font-weight: 400
//     font-style: normal

@mixin normal
    font-family: 'Proxima Nova Rg', sans-serif
    font-weight: 400
    font-style: normal

@mixin light
    font-family: 'Proxima Nova Lt', sans-serif
    font-weight: 300
    font-style: normal

@mixin semibold
    font-family: 'Proxima Nova Lt', sans-serif
    font-weight: 600
    font-style: normal

@mixin bold
    font-family: 'Proxima Nova Rg', sans-serif
    font-weight: bold
    font-style: normal

@mixin icon
    font-family: "Font Awesome 5 Pro"
    display: inline-block
    font-style: normal
    font-variant: normal
    text-rendering: auto
