@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("../fonts/Proxima Nova Regular"), local("../fonts/ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans.eot");
  src: url("../fonts/opensans.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensansbold.eot");
  src: url("../fonts/opensansbold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/opensanssemibold.eot");
  src: url("../fonts/opensanssemibold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensanssemibold.woff") format("woff"), url("../fonts/opensanssemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold Italic';
  src: url("../fonts/opensanssemibolditalic.eot");
  src: url("../fonts/opensanssemibolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/opensanssemibolditalic.woff") format("woff"), url("../fonts/opensanssemibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/opensanslight.eot");
  src: url("../fonts/opensanslight.eot?#iefix") format("embedded-opentype"), url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fontawesome/fa-regular-400.eot");
  src: url("../fonts/fontawesome/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fa-regular-400.woff2") format("woff2"), url("../fonts/fontawesome/fa-regular-400.woff") format("woff"), url("../fonts/fontawesome/fa-regular-400.ttf") format("truetype"), url("../fonts/fontawesome/fa-regular-400.svg#fontawesome") format("svg");
}

body {
  background: #333333;
  color: white;
  font-size: 16px;
  font-family: 'Proxima Nova Rg', sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, .h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2, .h2 {
  font-size: 2rem;
  font-weight: normal;
}

h3, .h3 {
  font-size: 1.75rem;
  font-weight: normal;
}

h4, .h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

h5, .h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

h6, .h6 {
  font-size: 1rem;
  font-weight: bold;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  -webkit-text-decoration: underline red;
          text-decoration: underline red;
}

a:active {
  color: red;
}

.container {
  margin: 0px auto;
  padding: 0px 10px;
  width: 100%;
  max-width: 1400px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.col {
  padding: 0 10px;
}

.col-one {
  width: 100%;
}

.col-two {
  width: 50%;
}

.col-three {
  width: 33%;
}

.col-four {
  width: 25%;
}

@media (max-width: 1299px) {
  .container {
    max-width: 960px;
  }
  .col-four {
    width: 33.333%;
  }
  .row .col-four {
    width: 33.333%;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
  .col-two {
    width: 100%;
  }
  .col-four {
    width: 50%;
  }
  .row .col-four {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .main {
    padding: 50px 0px 0px 0px;
  }
  .col-four {
    width: 100%;
  }
  .row .col-four {
    width: 100%;
  }
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullscreen {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
}

.fullscreen__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 20px;
}

.fullscreen__title {
  font-size: 50px;
  margin: 0px 0px 20px 0px;
}

.fullscreen__text {
  font-size: 25px;
  margin: 0px 0px 20px 0px;
}

.fullscreen__link {
  display: inline-block;
  line-height: 50px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: #77608d;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0px 20px;
}

.fullscreen__link:hover {
  text-decoration: none;
  background-color: #735791;
}

.fullscreen__one {
  background-color: #794f45;
}

.fullscreen__two {
  background-color: #666666;
}

.fullscreen__bg1 {
  background: url("../img/bg/hero4.jpg") center/cover no-repeat fixed;
}

.fullscreen__bg2 {
  background: url("../img/bg/hero3.jpg") center/cover no-repeat fixed;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__burger {
  display: none;
}

.menu__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu__nav li {
  padding-right: 20px;
}

.menu__nav li:last-child {
  padding-right: 0;
}

@media (max-width: 768px) {
  .menu__burger {
    display: block;
    padding: 10px;
    background: #ffffff15;
  }
  .menu__nav {
    display: none;
  }
}
